<template name="orderAddEditModal">
  <div class="modal fade slide-right action-modal" id="orderAddEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-order-lg">
      <div class="modal-content-wrapper">
        <div class="modal-content pt-5">
          <span class="pointer btn-close" data-dismiss="modal"><i class="fa fa-times"></i></span>
          <div class="modal-body">
            <form role="form" id="orderForm" class="pb-5">
              {{#with item}}
                <div class="form-group">
                  <label class="mb-0">User Name</label>
                  <div class="ml-1 fs-14">{{getUser.name}}</div>
                </div>
                <div class="form-group">
                  <label class="mb-0">Delivery Address</label>
                  <div class="fs-14 address-text">{{getDeliveryAddress}}</div>
                </div>
                <div class="form-group">
                  <label class="mb-0">Date</label>
                  <div class="ml-1 fs-14">{{getDate(createdAt)}}</div>
                </div>

                {{#if products}}
                  <div class="clearfix">
                    <div class="col-sm-12 p-0 m-t-20 m-b-20">
                      <div class="clearfix d-flex font-weight-500 border-b pb-3">
                        <div class="col-sm-4 px-0">Product</div>
                        <div class="col-sm-2 text-right">Price</div>
                        <div class="col-sm-2 text-right">Quantity</div>
                        <div class="col-sm-2 text-right">Discount</div>
                        <div class="col-sm-2 text-right">Amount</div>
                      </div>

                      {{#each products}}
                      <div class="clearfix d-flex p-t-20 pb-1 fs-14">
                        <div class="col-sm-4 p-0 text-truncate">{{getProductName(productId)}}</div>
                        <div class="col-sm-2 p-w-5 text-right">${{price}}</div>
                        <div class="col-sm-2 p-w-5 text-right">{{quantity}}</div>
                        <div class="col-sm-2 p-w-5 text-right">${{discount}}</div>
                        <div class="col-sm-2 p-w-5 text-right">${{sellPrice}}</div>
                      </div>
                      {{/each}}

                      <div class="clearfix d-flex font-weight-bold border-t p-t-20 mt-3 fs-14">
                        <div class="col-sm-10 p-w-5 text-right">{{#if totalDiscount}}${{totalDiscount}}{{/if}}</div>
                        <div class="col-sm-2 p-w-5 text-right">${{subTotal}}</div>
                      </div>
                      <div class="clearfix d-flex border-b p-b-20 font-weight-500">
                        <div class="col-sm-12 p-w-5 pt-3 text-right">Delivery Charge: <span class="fs-14 ml-2">${{deliveryCharge}}</span></div>
                      </div>
                      <div class="clearfix d-flex font-weight-500 border-b p-t-20 p-b-20">
                        <div class="col-sm-12 p-w-5 text-right">Total Price: <span class="fs-14 ml-2">${{totalPrice}}</span></div>
                      </div>
                    </div>
                  </div>
                {{/if}}
              {{/with}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
